.outer{
    padding:1.8125rem 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 90%;
    margin:10px auto;
    border-radius: 16px;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.3);
}
.detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name{
    padding: 0;
}
.wallet{
    font-size: 1.3rem;
    font-weight: 500;
}