* {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  border-radius: 10px;
  border: 2px solid #ececec;
  box-shadow: 1px 2px #eeeeee;
  border: 0px;
  z-index: 99999;
  margin: auto 30px;
  height: 180px;
}

.imgContainer {
  background-color: rgb(245, 238, 238);
  border-right-width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px 60px; */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1.2px 1.2px #cacaca;
}

.txtContainer {
  /* padding: 10px 20px 20px 20px; */
  padding: auto;
  margin: 20px 10px;
  text-align: center;
}

.txtContainer button {
  border: none;
  color: black;
  border-radius: 4rem;
  cursor: pointer;
}

.timerBtn {
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.qrBtn {
  padding: 0px;
}

.txt {
  font-weight: 600;
  margin: 5px 15px;
}

.txt h3 {
  padding-top: 30px;
}
