* {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  border-radius: 10px;
  border: 2px solid #ececec;
  box-shadow: 1px 2px #eeeeee;
  border: 0px;
  z-index: 99999;
}

.imgContainer {
  background-color: rgb(245, 238, 238);
  border-right-width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  border-radius: 6px;
  box-shadow: 1.2px 1.2px #cacaca;
}

.txt {
  font-weight: 600;
}

.txtContainer {
  padding: 10px 20px 20px 20px;
  text-align: center;
}

.txtContainer button {
  border: none;
  border-radius: 4rem;
  color: black;
  padding: 1.5vh 2vh;
  font-weight: bold;
  cursor: pointer;
}
